.pill {
  background-color: #fc5193;
  color: white;
  padding: 100px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
}

.pill:hover {
  transform: scale(1.05);
}
