body {
  margin: 0;
  background-color: #eee;
  background-color: #fc519278;
  font-family: "gill sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  text-align: left;
  width: 100%;
  padding-left: 30px;
  color: white;
}
